@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Solway&display=swap'); body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 10px;
}

#color {
    background-color: #FFFFE0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(../img/lviv.jpg);
    border: 4px double black;
    width: 250px;
    height: 128px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.block-titles {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.main-container {
    padding: 20px;
}

.main-container .block {
    width: 800px;
    margin: 0 auto;
}

.main-container .block p {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.main-container .block img, .main-container .block p {
    width: 100%;
}
